.detailsCourse {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__col {
    width: 20%;
  }

  &__content {
    width: 50%;
  }

  &__icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #787878;

    &:hover {
      cursor: pointer;
      color: #000;
    }

    &--text {
      font-size: 16px;
      margin-left: 10px;
    }
  }
}
